<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>


      <!--linking to goal.component.html(goal)  -->
  <app-goal></app-goal>

     <!--commented out sections bellow  -->

  <!-- linking to the section C in app.component  -->
  <!-- <h1> My Goals </h1>
  <ul>
    <li *ngFor='let goal of goals'>{{goal.name}}</li> -->
    <!--loops through the array and returns each element by itself -->
  <!-- </ul>
  <p *ngIf='goals.length > 5'>you have too many goals</p> -->
<!--ngIf adds a conditional logic to the template  -->
