<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>

<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Goal App</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!-- unodered list was here -->


  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<ul class="nav navbar-nav navbar-right">
  <li><a routerLink='/goals' routerLinkActive='active'>Goals</a></li><!--link to goalcomponent.html-->
  <li><a routerLink='/about' routerLinkActive='active'>About</a></li><!--link to aboutcomponent.html-->

</ul>

<!-- End of Navigation -->
<router-outlet></router-outlet>

      <!--linking to goal.component.html(goal)  -->
  <!-- <app-goal></app-goal>|commented out -->

     <!--commented out sections bellow  -->

  <!-- linking to the section C in app.component  -->
  <!-- <h1> My Goals </h1>
  <ul>
    <li *ngFor='let goal of goals'>{{goal.name}}</li> -->
    <!--loops through the array and returns each element by itself -->
  <!-- </ul>
  <p *ngIf='goals.length > 5'>you have too many goals</p> -->
<!--ngIf adds a conditional logic to the template  -->
